.container {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  padding-top: 8.4rem;
  margin: 0 auto;
  align-items: center;
}

@media (min-width : 772px) { 
  .container {
   display: grid;
   grid-template-columns: 3fr 1fr;
 } 
}

.about::first-letter {
  font-size: 2rem;
}

.about {
  line-height: 1.8;
}

.img {
 transition: transform .3s;
 border-radius: 11px;
}

.img:hover {
  transform: scale( 1.1 );
}

.data {

}

.title {
  
}