.header {
  padding: .4rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 -45px 56px rgb(0 0 0 / 35%);
}

@media (min-width : 772px) { 
  .header {
    display: grid;
    flex-direction: row;
    grid-template-columns: 1fr 4fr;
  }
}

.header__img {
  width: 4rem;
  border-radius: 50%;
  transition: transform .3s;
}

.header__img:hover {
  transform: scale( 1.2 );
}

.navegation {
  
}


.navegation__list {
  display: flex;
  flex-direction: column;
}

@media (min-width : 772px) { 
  .navegation__list {
    flex-direction: row;
  }
}

@media (min-width : 772px) {
  .navegation__list {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}

.navegation__item {
  text-decoration: underline;
  color: #744F31;
  transition: all 12s;
  margin: 0 auto 1.2rem auto;

}

@media (min-width : 772px) { 
  .navegation__item {
    margin-bottom: 0;
  }
}

.navegation__item:hover {
  text-decoration: none;
  color: rgb(0, 0, 0, .7);
}

.navegation__cta {
  background: rgb(144, 99, 55);
  color: white;
  padding: .6rem 1.2rem;
  border-radius: 9px;
  text-align: center;
  margin-bottom: 0;
}